In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('model_data.csv')

In [3]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'make', 'model',
       'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'drive', 'size', 'type', 'paint_color', 'description',
       'state', 'age', 'distance_per_year', 'make_median_price',
       'model_median_price'],
      dtype='object')

In [4]:
''' Use different column names to split data and get median price from those columns, but made to get any value from any data'''
# @params 
# g is a dataframe

def get_group_value(data, group, operation, value):
    
    g = data.get_group(group)
    struct = dict()
    if operation == 'median':
        struct[group] = np.median(g[value]) # could cause error with None Types
    elif operation == 'mean':
        struct[group] = np.mean(g[value])
    elif operation == 'count':
        struct[group] = g.shape[0]
    return round(struct[group], 2)

In [5]:
def add_column(data, variable, column_name, struct):
    
    # variable is manufacturer for first one
    column = create_data(data[variable], struct) # creates the list which will become the column
    
    '''
    if column_name == 'manufacturer':
        column = add_manufacturers(data.manufacturer, struct)
    elif column_name == 'model':
        column = add_models(data.models)
    elif column_name == 'condition':
        column = add_conditions(data.conditions)
    elif column_name == 'state':
        column = add_states(data.state)
    elif column_name == 'title':
        column = add_titles(data.title)
    elif column_name == 'fuel':
        column = add_fuel(data.fuel)
    elif column_name == 'transmission':
        column = add_transmission(data.transmission)
    elif column_name == 'size':
        column = add_size(data.size)
    elif column_name == 'drive':
        column = add_drive(data.drive)
    elif column_name == 'type':
        column = add_type(data.type)
    '''
    
    data[column_name] = column

In [6]:
def create_data(data, struct):
    
    column_values = list(data) # all the manufacturer values
    out = list(range(0, len(column_values)))
    i = 0
    for value in column_values:
        if value is None:
            i += 1
            continue
        try:
            out[i] = struct[value]
        except:
            out[i] = None
        i += 1
        
    return out

In [7]:

#Function Create New Features based on mean, median 
columns = ['state']
operations = ['median']

for operation in operations:
    #print('Operation')
    for column in columns:
        #print('Column: ' + column)
        # get all the unique values for a certain column
        unique_values = list(data[column].value_counts().index) 
        # grab the data segment for that column
        struct = dict()
        col_data = data.groupby(column)
        for unique_value in unique_values:
            if unique_value is None:
                continue
        # for every unique value in the specific column find the median price for the reselting data segment
            struct[unique_value] = get_group_value(col_data, unique_value, operation,'price')
        column_name = column + '_' + operation + '_' + 'price'
    # adds a new column to the original dataset
        add_column(data, column, column_name, struct)

In [8]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'make', 'model',
       'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'drive', 'size', 'type', 'paint_color', 'description',
       'state', 'age', 'distance_per_year', 'make_median_price',
       'model_median_price', 'state_median_price'],
      dtype='object')

In [9]:
data.to_csv('model_data.csv', index=False)

In [9]:
data['age'] = 2021 - data['year']
#data['odometer']/data['age']

In [10]:
data.age

0          9.0
1          7.0
2         20.0
3         17.0
4         16.0
          ...
379836    16.0
379837    19.0
379838    20.0
379839     8.0
379840    11.0
Name: age, Length: 379841, dtype: float64

In [11]:
data['distance_per_year'] = round(data['odometer']/data['age'], 2)

In [12]:
data.distance_per_year

0         10333.33
1         10891.00
2          9950.00
3          3176.47
4          3925.00
            ...
379836    17679.12
379837    10210.53
379838     6524.20
379839    11667.38
379840    13520.09
Name: distance_per_year, Length: 379841, dtype: float64

In [22]:
data.to_csv('model_data.csv', index=False)

In [14]:
corr = data.corr()

In [15]:
corr.head()

,id,price,year,odometer,age,distance_per_year,make_median_price,model_median_price
id,1.000000,-0.063512,-0.019665,0.002767,0.019665,-0.014546,-0.035465,-0.060265
price,-0.063512,1.000000,0.330990,-0.234477,-0.330990,0.058029,0.297773,0.709458
year,-0.019665,0.330990,1.000000,-0.162086,-1.000000,0.253600,0.011164,0.177619
odometer,0.002767,-0.234477,-0.162086,1.000000,0.162086,0.617287,0.018788,-0.101689
age,0.019665,-0.330990,-1.000000,0.162086,1.000000,-0.253600,-0.011164,-0.177619

In [16]:
corr.price

id                   -0.063512
price                 1.000000
year                  0.330990
odometer             -0.234477
age                  -0.330990
distance_per_year     0.058029
make_median_price     0.297773
model_median_price    0.709458
Name: price, dtype: float64

In [17]:
price_corr = list(abs(corr.price))

In [18]:
price_corr

[0.06351173421963843,
 1.0,
 0.3309902290841232,
 0.23447652706494196,
 0.3309902290841243,
 0.058028684376770154,
 0.29777250480580464,
 0.7094577905973445]

In [19]:
 max_indices = np.argsort(price_corr)[-7:]

In [20]:
max_indices

array([0, 3, 6, 2, 4, 7, 1], dtype=int64)

In [21]:
price_corr[8]

IndexError: list index out of range

In [ ]:
price_corr[3]

In [ ]:
type(corr)

In [ ]:
corr.columns

In [ ]:
for index in max_indices:
    print('Variable correlation value with best correlation:   ' + str(round(price_corr[index], 4)))    
    print('Variable names with best correlation:   ' + str(corr.columns[index]))
    print()

In [ ]:
remove_columns = ['manufacturer_med_price', 'model_med_price', 'condition_med_price', 'paint_color_med_price', 'state_med_price', 'title_status_med_price', 'fuel_med_price', 'transmission_med_price', 'size_med_price', 'drive_med_price', 'type_med_price']

In [ ]:
data.drop(remove_columns, axis=1, inplace=True)

In [ ]:
sns.heatmap(corr, 
        xticklabels=corr.columns,
        yticklabels=corr.columns)

In [ ]:
corr = data.corr()
price_corr = list(abs(corr.price))
max_indices = np.argsort(price_corr)[-7:]
for index in max_indices:
    print('Variable correlation value with best correlation:   ' + str(round(price_corr[index], 4)))    
    print('Variable names with best correlation:   ' + str(corr.columns[index]))
    print()

In [ ]:
# The model, type, drive, manufacturer, and fuel have the best correlations with the overall price of a car,
# I would be very wary of model price, the correlation factor is WAAAY too high

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
import datetime

In [ ]:
data.columns

In [ ]:
data.loc[0,:]

In [ ]:
data.loc[0,'size']

In [ ]:
data.loc[0,'drive']

In [ ]:
# check code to see if it works

In [ ]:
data.loc[0,'manufacturer']

In [ ]:
np.median(data.groupby('manufacturer').get_group('jeep')['price'])

In [ ]:
data.loc[0,'manufacturer_med_price']

In [ ]:
data.loc[0,'drive']

In [ ]:
man_median_price

In [ ]:
row['manufacturer']

In [ ]:
manufacturers = list(data['manufacturer'])

In [ ]:
def add_new_columns(l, values):
    
    error = 0
    z = list()
    for i in l:
        try:
            z.append(values[i]) 
        except:
            error += 1
            z.append(None)
            
    print('Num Missing: ' + str(error))
    return z

In [ ]:
data['man_med_price'] = add_new_columns(manufacturers, man_median_price)

In [ ]:
'''
err_man = 0
z = list()
index = 0
for i in manufacturers:
    if index % 100 == 0 and index > 0:
        print('Row: ' + str(index))
    try:
        z.append(man_median_price[i]) 
    except:
        err_man += 1
        z.append(None)
    index += 1
print('Num Missing Manufacturers: ' + str(err_man))
'''

In [ ]:
data['man_med_price'] = z

In [ ]:
data.man_med_price

In [ ]:
data.corr()

In [ ]:
data.model

In [ ]:
err_man = 0
z = list()
for index, row in data.iterrows():
    if index % 100 == 0 and index > 0:
        print('Row: ' + str(index))
    man = row['manufacturer']
    try:
        z.append(man_median_price[man]) 
    except:
        err_man += 1
print('Num Missing Manufacturers: ' + str(err_man))